<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appName" value="IntegratorApilo"/>

  <targets>
        <target name="logfile" xsi:type="File"
                fileName="logs/${var:appName}.log"
                layout="${longdate} | ${level:uppercase=true} | ${message}"
                archiveFileName="logs/archives/${var:appName}.${shortdate}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="30"
                keepFileOpen="false"
                encoding="utf-8"
                enableArchiveFileCompression="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>